.login-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.form-con {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  align-items: center;
  padding: 60px 20px;
  width: 100%;
  max-width: 450px;
}
.input-con {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.label-con{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  line-height:16px;
  font-family:"Robot";
}
